<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Nutrition App</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <div class="header">
            {% if session['logged_in'] %}
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            {% else %}
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>                        
                    <li class="nav-item">
                      <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
 
        <div class="jumbotron">
            <h1>What Can I Help You With Today?</h1>
            <form class="form-search" method="GET" action="/search">
                <input type="text" name="search" placeholder="Search...">
            </form>
        </div>
 
    </div>
</body>
 
</html>