<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Nutrition App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            {% if session['logged_in'] %}
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            {% else %}
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>                        
                    <li class="nav-item">
                      <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
 
        <div class="jumbotron">
            <h1>Nutrition Tracker App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-primary" href="/signup" role="submit">Sign up today</a>
            </p>
        </div>
 
        <div class="card">
            <div class="card-body">
                <h4>Let's Get Healthy!</h4>
                <p>See how your diet is.</p>
 
                <h4>Learn About Other Foods!</h4>
                <p>Never again go uneducated about the nutritional values in anything that you eat.</p>
 
                <h4>So Much Food...</h4>
                <p>Over 900,000 food entries to query, you'd have to try to find food not in here.</p>
            </div>
 
        </div>
 
    </div>
</body>
 
</html>