
<!DOCTYPE html>
<html lang="en">
     
    <head>
        <title>Nutrition App</title>
     
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body>
     
        <div class="container">
            <div class="header">
                {% if session['logged_in'] %}
                <nav>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                    </ul>
                </nav>
                {% else %}
                <nav>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign Up</a>
                        </li>                        
                        <li class="nav-item">
                          <a class="nav-link" href="/signin">Sign In</a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
     
            <div class="card">
                <div id="table"/>
                <script>
                    var data = null;
                    $.ajax({
                        url: "/getFoods",
                        cache: false,
                        success: function(response) {
                            response = JSON.parse(response);
                            $("#table").append(createTableFromJson(response));
                        }
                    });

                    function createTableFromJson(json) {
                        var table = "<table class=\"table\"><thead class=\"thead-dark\"><tr>";
                        $.each(json[0], function(key, value) {
                            table += "<th>" + key + "</th>";
                        });
                        table += "</tr>";
                        $.each(json, function(key, value) {
                            table += "<tr>";
                            $.each(value, function(k, v) {
                                table += "<td>" + v + "</td>";
                            });
                            table += "</tr></thead>";
                        });
                        table += "</table>";
                        return table;
                    }
                </script>
            </div>
        </div>
    </body>
     
</html>