<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nutrition App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
          {% if session['logged_in'] %}
          <nav>
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                  </li>
              </ul>
          </nav>
          {% else %}
          <nav>
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/signup">Sign Up</a>
                  </li>                        
                  <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                  </li>
              </ul>
          </nav>
          {% endif %}
        <h3 class="text-muted">Nutrition Up</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Let's Get Started!</h1>
        <form class="form-signin" action="{{ url_for('added')}}" method="POST">
          <label for="inputName" class="sr-only">Name</label>
          <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
          
          <input id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit"></button>
        </form> 
      </div>
    </div>
  </body>
</html>